@model App.Model.PenerimaanBarangModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>

    form .error {
        color: #ff0000;
    }
</style>

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <form id="myForm" role="form">

                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-horizontal">
                            <div class="form-group row">
                                @Html.LabelFor(model => model.ReceiptNo, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.ReceiptNo, new { htmlAttributes = new { @class = "form-control input-sm", autoComplete = "off" } })
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-3">
                        <div class="form-horizontal">
                            <div class="form-group row">
                                @Html.LabelFor(model => model.CAR, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CAR, new { htmlAttributes = new { @class = "form-control input-sm", autoComplete = "off" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-horizontal">
                            <div class="form-group row">
                                @Html.LabelFor(model => model.KPBC, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.KPBC, new { htmlAttributes = new { @class = "form-control input-sm", autoComplete = "off" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-horizontal">
                            <div class="form-group row">
                                @Html.LabelFor(model => model.Rate, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Rate, new { htmlAttributes = new { @class = "form-control input-sm", autoComplete = "off" } })
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ReceiptDate, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.ReceiptDate, new { htmlAttributes = new { @class = "form-control", autoComplete = "off" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.NoPIB, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.NoPIB, new { htmlAttributes = new { @class = "form-control", autoComplete = "off" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.AsalBarang, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.AsalBarang, new { htmlAttributes = new { @class = "form-control", autoComplete = "off" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Warehouse, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.Warehouse, new { htmlAttributes = new { @class = "form-control", autoComplete = "off" } })
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TanggalPIB, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.TanggalPIB, new { htmlAttributes = new { @class = "form-control", autoComplete = "off" } })
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Valuta, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.Valuta, new { htmlAttributes = new { @class = "form-control", autoComplete = "off" } })
                            </div>
                        </div>
                    </div>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><span class="fas fa-window-close"></span>  Batal</button>
                    <a href="#" id="btnSubmit" class="btn btn-success btn-sm">
                        <span class="fas fa-save"></span>  Simpan
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>




<script>

    $(document).ready(function () {

        $("#myForm").validate({  // initialize plugin on the form
            rules: {
                //define field here... this used colomn name
                //sample:
                //Username: "required",
                ReceiptNo: "required",
                ReceiptDate: "required",
                Warehouse: "required",
                CAR: "required",
                NoPIB: "required",
                TanggalPIB: "required",
                KPBC: "required",
                AsalBarang: "required",
                Valuta: "required",
                Rate: "required",

            },
            // Specify validation error messages
            messages: {
                // Username: "Please enter your Username",
                // email: "Please enter a valid email address"
            }
        });


        $("#btnSubmit").click(function () {

            if ($("#myForm").valid()) {

                var myformdata = $("#myForm").serialize();

                $.ajax({

                    type: "POST",
                    url: "/PenerimaanBarang/Save",
                    data: myformdata,
                    success: function (data) {

                        if (data.success) {
                            $("#ModalId").modal("hide");
                            swal("Confirmed", "Data Successfully Saved...", "success");
                            BindDataTable();
                        }
                        else {
                            swal("error", data.message, "error");
                        }
                    }

                })

            }


        })

    })


</script>






