﻿@model App.Web.Areas.Master.Models.RoleModelView

<form id="myForm" role="form">

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)


    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.RoleName, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="#" id="btnSubmit" class="btn btn-success">
            <span>Save Changes</span>
        </a>
    </div>

</form>



<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function () {

            var myformdata = $("#myForm").serialize();

            $.ajax({

                type: "POST",
                url: "/Role/Save",
                data: myformdata,
                success: function (data) {

                    if (data.success) {
                        $("#ModalId").modal("hide");
                        swal("Confirmed", "Data Successfully Saved...", "success");
                        BindDataTable();
                    } else {
                        swal("error", data.message, "error");
                    }
                }

            })
        })

    })


</script>





