﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <small class="float-right">
                <a href="#" onclick="AddEdit(0);" class="btn btn-outline-primary"><span class="fas fa-plus"></span></a>
            </small>            
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tblViewModel" class="table table-active table-responsive-sm" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Customer</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Hours</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
            
            <input type="hidden" id="hiddenId" />
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="ModalId" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><label id="TitleModal">@ViewBag.PageName Form</label></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="ModalBody">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<script>

    $(document).ready(function () {
        
        LoadData();

    });

    //region Datatables
    var oTable;
    var LoadData = function () {

        oTable = $('#tblViewModel').DataTable({
            "serverSide": false,
            "bDestroy": true,
            "ajax": {
                "url": "/Billing/LoadData",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                { "mData": "ID" },
                { "mData": "Customer" },
                { "mData": "Type" },
                {
                    "mData": "Date", "type": "date",
                    "autoWidth": true,
                    "render": function (value) {
                        var start = moment(value).format('YYYY-MM-DD');
                        return start;
                    }
                },
                { "mData": "Description" },
                { "mData": "Hours" },
                {
                    "mData": "ID",
                    "render": function (ID, type, full, meta) {

                        return '<a href="#" onclick="AddEdit(' + ID + ')"><i class="fas fa-edit"></i></a>'
                    }
                },
                {
                    "mData": "ID",
                    "render": function (ID, type, full, meta) {

                        return '<a href="#" onclick="ConfirmDelete(' + ID + ')"><i class="fas fa-trash" style="color:red;"></i></a>'
                    }
                }

            ]

        });
    }

    
    //region CUD

    var AddEdit = function (Id) {

        var url = "/Billing/AddEditForm?id=" + Id;
        console.log(Id);
        $("#ModalBody").load(url, function () {
            $("#ModalId").modal("show");

        })

    }

    var ConfirmDelete = function (Id) {
        debugger
        $("#hiddenId").val(Id);
        swal({
            title: "Are you sure?",
            text: "You will not be able to recover this imaginary file!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        }, function (isConfirm) {
            if (!isConfirm) return;
            doDelete();
        });
    }

    var doDelete = function () {
        debugger
        var id = $("#hiddenId").val();

        $.ajax({
            type: "Post",
            url: "/Billing/Delete?id=" + id,
            success: function (result) {

                if (result.success == true) {
                    swal("Success", result.message, "success");
                    LoadData();
                }
                else {
                    swal("error", result.message, "error");
                }

            }

        })

    }


        //endregion

</script>