@model IEnumerable<App.Model.MaterialReleaseModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    a.disabled {
        pointer-events: none;
        cursor: default;
        color: grey;
    }
</style>

<div class="col-lg-12">	
    <!--Table-->
    <div class="card card-outline card-primary">
        <div class="card-header" hidden="hidden">
            <h4>
                <small class="float-left">
                    <a href="#" onclick="AddEdit(0);" class="btn btn-outline-primary btn-sm"><span class="fas fa-plus"></span> Tambah MaterialRelease</a>
                </small>
            </h4>            
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tblViewModel" class="table table-active text-sm" style="width:100%">
                    <thead>
                        <tr>
							<th>No</th>
							<th>@Html.DisplayNameFor(model => model.NoWO)</th>
							<th>@Html.DisplayNameFor(model => model.TglWO)</th>
                            <th>Finished Goods</th>
                            <th>@Html.DisplayNameFor(model => model.NoRelease)</th>
							<th>@Html.DisplayNameFor(model => model.TglRelease)</th>
							<th>Kode Material</th>
							<th>@Html.DisplayNameFor(model => model.Status)</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>        
            <input type="hidden" id="hiddenId" />
        </div>
    </div>
</div>
<!-- /.col -->

<!--Modal-->
<div class="modal fade" id="ModalId" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><label id="TitleModal">MaterialRelease Form</label></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="ModalBody">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<script>
    $(document).ready(function () {        
        BindDataTable();
    });

        //region Datatables
        var oTable;
        var otorisasi="@ViewBag.RoleName";
        var BindDataTable = function (response) {

            if ($.fn.DataTable.isDataTable("#tblViewModel")) {
                debugger
                oTable.draw();
                //oTable.fnDraw();

            }
            else {
                debugger
                oTable = $("#tblViewModel").DataTable({
                    "bServerSide": true,
                    //disable Sort column
                    "targets": 'no-sort',
                    "bSort": false,
                    "order": [],
                    //end
                    "sAjaxSource": "/Transaction/MaterialRelease/GetDisplayData",
                    "fnServerData": function (sSource, aoData, fnCallback) {

                        //for Custom Filter
                        var EName = $("#EName").val();
                        aoData.push({ "name": "EName", "value": EName });

                        $.ajax({

                            type: "Get",
                            data: aoData,
                            url: sSource,
                            success: fnCallback
                        })

                    },                    
                    initComplete: function () {
                        var api = this.api();
                        //modified here..
                        if (otorisasi != "Super Admin") {
                            // Hide column
                            api.column(10).visible(false);
                        }
                        if (otorisasi != "User Admin") {
                            api.column(9).visible(false);
                        }
                    },
                    "createdRow": function (row, data, dataIndex) {
                        var no = this.api().page() * this.api().page.len() + dataIndex + 1;
                        $('td', row).eq(0).html(no);
                    },
                    "aoColumns": [

						{ "mData": null },
						{ "mData": "NoWO" },
						{ "mData": "TglWO" },
                        { "mData": "KodeFG" },
                        { "mData": "NoRelease" },
                        { "mData": "TglRelease" },
						{ "mData": "KodeBarang" },
						{ "mData": "Status" },
                        {
                            "mData": "ID",
                            "render": function (ID, type, full, meta) {

                                return '<a href="javascript:void(0);" onclick="View(' + ID + ')"><i class="fas fa-eye"></i> lihat</a>'
                            }
                        },
                        {
                            "mData": "ID",
                            "render": function (ID, type, full, meta) {
                                if (full.Status == "New") {
                                    return '<a href="javascript:void(0);" onclick="ViewApprove(' + ID + ')"><i class="fas fa-check"></i> Approve</a>'
                                }
                                return '<a href="javascript:void(0);" class="disabled"><i class="fas fa-check"></i> Approve</label>'
                            }
                        },
                        {
                            "mData": "ID",
                            "render": function (ID, type, full, meta) {

                                return '<a href="javascript:void(0);" onclick="ConfirmDelete(' + ID + ')"><i class="fas fa-trash"></i> Hapus</a>'
                            }
                        }

                    ]

                });
            }
        }
        //custom filter
        var FilterRecord = function () {

            BindDataTable();
        }
        //endregion


        //region CUD

    var ViewApprove = function (Id) {

            var url = "/Transaction/MaterialRelease/AddEditForm?id=" + Id;
            window.location.href = url;

        }

        var View = function (Id) {

            var url = "/Transaction/MaterialRelease/ViewForm?id=" + Id;
            window.location.href = url;

        }

        var ConfirmDelete = function (Id) {
            debugger
            $("#hiddenId").val(Id);
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            }, function (isConfirm) {
                if (!isConfirm) return;
                doDelete();
            });
        }

        var doDelete = function () {
            debugger
            var id = $("#hiddenId").val();

            $.ajax({
                type: "Post",
                url: "/MaterialRelease/Delete?Id=" + id,
                success: function (result) {

                    if (result.success == true) {
                        swal("Success", result.message, "success");
                        BindDataTable();
                    }
                    else {
                        swal("error", result.message, "error");
                    }

                }

            })

        }


        //endregion


</script>



