@model App.Model.MaterialReleaseModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    form .error {
        color: #ff0000;
    }
</style>

<form id="myForm" role="form">

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.OpsiProduksi)

    @Html.HiddenFor(model => model.KodeFG)
    @Html.HiddenFor(model => model.NamaFG)
    @Html.HiddenFor(model => model.HSExport)
    @Html.HiddenFor(model => model.SatuanExport)
    @Html.HiddenFor(model => model.QtyOrder)

    @Html.HiddenFor(model => model.KodeBarang)
    @Html.HiddenFor(model => model.NamaBarang)
    @Html.HiddenFor(model => model.Satuan)
    @Html.HiddenFor(model => model.HSImport)
    @Html.HiddenFor(model => model.Dibutuhkan)
    @Html.HiddenFor(model => model.Terpakai)
    @Html.HiddenFor(model => model.Dikeluarkan)
    @Html.HiddenFor(model => model.BelumKirim)
    @Html.HiddenFor(model => model.Status)
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <h2>Detail Material Release</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NoWO, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.NoWO, new { htmlAttributes = new { @class = "form-control form-control-sm", autoComplete = "off", readOnly = "readOnly" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TglWO, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.TglWO, new { htmlAttributes = new { @class = "form-control form-control-sm", autoComplete = "off", readOnly = "readOnly" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NoRelease, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.NoRelease, new { htmlAttributes = new { @class = "form-control form-control-sm", autoComplete = "off", readOnly = "readOnly" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TglRelease, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.TglRelease, new { htmlAttributes = new { @class = "form-control form-control-sm", autoComplete = "off", readOnly = "readOnly" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.KodeSubkon, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.KodeSubkon, new { htmlAttributes = new { @class = "form-control form-control-sm", autoComplete = "off" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NamaSubkon, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.NamaSubkon, new { htmlAttributes = new { @class = "form-control form-control-sm", autoComplete = "off" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Alamat, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.Alamat, new { htmlAttributes = new { @class = "form-control form-control-sm", autoComplete = "off" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="col-md-12 border border-primary" style="padding:10px;">
                        <div class="form-group">
                            @Html.LabelFor(model => model.OpsiProduksi, htmlAttributes: new { @class = "control-label" })
                            <div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        @if (Model.OpsiProduksi == "PPIC")
                                        {
                                            <input type="radio" class="form-check-input" name="dOpsiProduksi" value="PPIC" checked  onclick="return false;"/>
                                        }
                                        else
                                        {
                                            <input type="radio" class="form-check-input" name="dOpsiProduksi" value="PPIC"  onclick="return false;"/>
                                        }
                                        PPIC
                                    </label>
                                </div>
                                <div style="height:20px;"></div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        @if (Model.OpsiProduksi == "Subkon")
                                        {
                                            <input type="radio" class="form-check-input" name="dOpsiProduksi" value="Subkon" checked onclick="return false;" />
                                        }
                                        else
                                        {
                                            <input type="radio" class="form-check-input" name="dOpsiProduksi" value="Subkon"  onclick="return false;"/>
                                        }
                                        Subkon
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-top:20px;">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Keterangan, htmlAttributes: new { @class = "control-label" })
                            <div>
                                <textarea id="Keterangan" name="Keterangan" class="form-control form-control-sm" style="height:110px;">@Model.Keterangan</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-outline card-secondary">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-active table-sm">
                            <tr>
                                <th>Kode FG</th>
                                <th width="50%">Nama Finish Goods</th>
                                <th>HS Export</th>
                                <th>Sat</th>
                                <th>Qty Order</th>
                            </tr>
                            <tr>
                                <td>@Model.KodeFG</td>
                                <td>@Model.NamaFG</td>
                                <td>@Model.HSExport</td>
                                <td>@Model.SatuanExport</td>
                                <td>@Model.QtyOrder.ToString("N4")</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-outline card-secondary">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-active table-sm">
                            <tr>
                                <th>Kode Barang</th>
                                <th>Nama Material</th>
                                <th>Sat</th>
                                <th>HS Import</th>
                                <th>Dibutuhkan</th>
                                <th>Terpakai</th>
                                <th>Dikeluarkan</th>
                                <th>Belum Kirim</th>
                            </tr>
                            <tr>
                                <td>@Model.KodeBarang</td>
                                <td>@Model.NamaBarang</td>
                                <td>@Model.Satuan</td>
                                <td>@Model.HSImport</td>
                                <td>@Model.Dibutuhkan.ToString("N4")</td>
                                <td>@Model.Terpakai.ToString("N4")</td>
                                <td>@Model.Dikeluarkan.ToString("N4")</td>
                                <td>@Model.BelumKirim.ToString("N4")</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" id="btncancel"><span class="fas fa-window-close"></span>  Kembali</button>
    </div>

</form>


<script>
$(document).ready(function(){
    $('#myForm input, textarea').attr('readonly', 'readonly');
})

    $("#btncancel").click(function () {
        var url = "/Transaction/MaterialRelease/Index";
        window.location.href = url;
    });

</script>







