@model App.Model.DeliveryOrderModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    form .error {
        color: #ff0000;
    }
</style>

<div class="col-lg-12">


    <form id="myForm" role="form">

        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.Status)
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <h2>Approve Delivery Order</h2>
            </div>
            <div class="card-body">
                @if (ViewBag.IsExist)
                {
                    <div class="alert alert-warning">
                        <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
                        No. Result ini terdapat lebih dari satu data dan sudah pernah dilakukan proses Approval. Silahkan direview kembali!
                    </div>
                }
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.NoDO, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.NoDO, new { htmlAttributes = new { @class = "form-control form-control-sm", autoComplete = "off", readOnly="readOnly" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.NoPEB, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.NoPEB, new { htmlAttributes = new { @class = "form-control form-control-sm", autoComplete = "off" } })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Valuta, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.Valuta, new { htmlAttributes = new { @class = "form-control form-control-sm", autoComplete = "off" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TglDO, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.TglDO, new { htmlAttributes = new { @class = "form-control form-control-sm", autoComplete = "off", readOnly = "readOnly" } })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.TglPEB, htmlAttributes: new { @class = "control-label" })
                            <div>
                                @Html.EditorFor(model => model.TglPEB, new { htmlAttributes = new { @class = "form-control form-control-sm", autoComplete = "off" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.KodeCustomer, htmlAttributes: new { @class = "control-label" })
                                    <div>
                                        <select id="KodeCustomer" name="KodeCustomer" class="form-control form-control-sm">
                                            <option selected disabled>Pilih Kode Customer</option>
                                            @foreach (var customer in ViewBag.CustomerList)
                                            {
                                                <option value="@customer.KodeCustomer" data-nama="@customer.NamaCustomer" data-alamat="@customer.AlamatCustomer" data-negara="@customer.Negara">@customer.KodeCustomer - @customer.NamaCustomer</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NamaCustomer, htmlAttributes: new { @class = "control-label" })
                                    <div>
                                        @Html.EditorFor(model => model.NamaCustomer, new { htmlAttributes = new { @class = "form-control form-control-sm", autoComplete = "off", readOnly = "readOnly" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Alamat, htmlAttributes: new { @class = "control-label" })
                                    <div>
                                        @Html.EditorFor(model => model.Alamat, new { htmlAttributes = new { @class = "form-control form-control-sm", autoComplete = "off", readOnly = "readOnly" } })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Keterangan, htmlAttributes: new { @class = "control-label" })
                            <div>
                                <textarea id="Keterangan" name="Keterangan" class="form-control form-control-sm" style="height:110px;">@Model.Keterangan</textarea>                                
                            </div>
                        </div>
                    </div>

                    
                    

                </div>

            </div>
        </div>

        <div class="card card-outline card-secondary">
            <div class="table-responsive">
                <table id="tblViewModel" class="table table-active text-sm" style="width:100%">
                    <thead>
                        <tr>
                            <th>Kode FG</th>
                            <th>Nama FG</th>
                            <th>HS Export</th>
                            <th>Satuan</th>
                            <th>Qty Kirim</th>
                            <th>Harga Satuan</th>
                            <th>Jumlah Harga</th>
                            <th hidden="hidden"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var itm in Model.Details)
                        { 
                            <tr>
                                <td>@itm.KodeFG</td>
                                <td>@itm.NamaFG</td>
                                <td>@itm.HSExport</td>
                                <td>@itm.Satuan</td>
                                <td>@itm.QtyKirim</td>
                                <td><input type="number" class="form-control form-control-sm column1-input" name="HargaSatuan[]" value="@itm.HargaSatuan" /></td>
                                <td><input class="form-control form-control-sm column2-input" name="JumlahHarga[]" value="@itm.JumlahHarga" readonly="readonly" /></td>
                                <td hidden="hidden">
                                    <input type="text" name="QtyKirim[]" value="@itm.QtyKirim" class="qty" hidden="hidden" />
                                    <input type="hidden" name="SID[]" value="@itm.ID" />
                                    <input type="hidden" name="NamaFG[]" value="@itm.NamaFG" />
                                    <input type="hidden" name="HSExport[]" value="@itm.HSExport" />
                                    <input type="hidden" name="Satuan[]" value="@itm.Satuan" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" id="btncancel"><span class="fas fa-window-close"></span>  Batal</button>
            @if (ViewBag.IsExist)
            {
                <button class="btn btn-success btn-sm" disabled><span class="fas fa-save"></span>  Approve</button>
            }
            else
            {
                <a href="#" id="btnSubmit" class="btn btn-success btn-sm">
                    <span class="fas fa-save"></span>  Approve
                </a>
            }
        </div>

    </form>

</div>

<script>

    $(document).ready(function () {

        $("#TglPEB").daterangepicker({
            singleDatePicker: true,
            format: 'dd-mm-yyyy'
        });

        $("#KodeCustomer").change(function () {
            debugger;
            var namacustomer = $(this).find("option:selected").data('nama');
            var alamat = $(this).find("option:selected").data('alamat');
            
            //set value
            $("#NamaCustomer").val(namacustomer);
            $("#Alamat").val(alamat);            

        });

        // Input Blur Event Handler
        $("#tblViewModel").on("blur", ".column1-input", function () {
            // Get the corresponding input element in the same row
            var $row = $(this).closest("tr");
            var $column2Input = $row.find(".column2-input");
            var dqty = $row.find(".qty");            

            //convert to decimal 
            let price = parseFloat($(this).val());
            let qty = parseFloat(dqty.val());

            let result = price * qty;

            // Set the value of the corresponding input           
            $column2Input.val(result);
        });

        $("#myForm").validate({  // initialize plugin on the form
            rules: {
                //define field here... this used colomn name
                //sample:
                //Username: "required",
                NoDO: "required",
                TglDO: "required",
                NoPEB: "required",
                TglPEB: "required",
                Valuta: "required",
                KodeCustomer: "required",
                NamaCustomer: "required",
                Alamat: "required",
                //Keterangan: "required",

            },
            // Specify validation error messages
            messages: {
                // Username: "Please enter your Username",
                // email: "Please enter a valid email address"
            }
        });


        $("#btnSubmit").click(function () {
            debugger;
            if ($("#myForm").valid()) {
                //asign custom data
                $("#Status").val("Approve");
                var myformdata = {
                    ID: $("#ID").val(),
                    NoDO: $("#NoDO").val(),
                    TglDO: $("#TglDO").val(),
                    NoPEB: $("#NoPEB").val(),
                    TglPEB: $("#TglPEB").val(),
                    Valuta: $("#Valuta").val(),
                    KodeCustomer: $("#KodeCustomer").val(),
                    NamaCustomer: $("#NamaCustomer").val(),
                    Alamat: $("#Alamat").val(),
                    Status: $("#Status").val(),
                    Keterangan: $("#Keterangan").val()
                }

                // Extract the row data separately                
                var rows = [];
                var tbl = document.getElementById("tblViewModel");
                var rowCount = tbl.rows.length;                
                $("#tblViewModel tbody tr").each(function () {
                    var row = {};
                    $(this).find("input").each(function () {
                        row[$(this).attr("name").replace('[]', '')] = $(this).val();
                    });
                    rows.push(row);
                });
                var form = JSON.stringify(myformdata);
                var details = JSON.stringify(rows);
                // Create an object to hold the complete form data                
                var mydata = new FormData();
                mydata.append('DO', form);
                mydata.append('Detail', details);
                $.ajax({

                    type: "POST",
                    url: "/Transaction/DeliveryOrder/Save",                    
                    data: mydata,
                    processData: false,
                    traditional : true,
                    dataType: 'json',
                    contentType : false,
                    //contentType: 'application/json',
                    success: function (data) {

                        if (data.success) {
                            var url = "/Transaction/DeliveryOrder/Index";

                            swal({
                                title: "success",
                                text: data.message,
                                type: "success",
                                confirmButtonText: "OK"
                            },
                                function (isConfirm) {
                                    if (isConfirm) {
                                        window.location.href = url;
                                    }
                                })
                        }
                        else {
                            swal("error", data.message, "error");
                        }
                    }

                })

            }


        })

        $("#btncancel").click(function () {
            var url = "/Transaction/DeliveryOrder/Index";
            window.location.href = url;
        });

    })


</script>






