@model App.Model.LogModel


<style>

    form .error {
        color: #ff0000;
    }
</style>

<form id="myForm" role="form">

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)    

    <div class="row">
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })
				<div>
					@Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", Name = "Gift" } })
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.LogTime, htmlAttributes: new { @class = "control-label" })
				<div>
					@Html.EditorFor(model => model.LogTime, new { htmlAttributes = new { @class = "form-control", Name = "Gift" } })
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.ModulName, htmlAttributes: new { @class = "control-label" })
				<div>
					@Html.EditorFor(model => model.ModulName, new { htmlAttributes = new { @class = "form-control", Name = "Gift" } })
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.Activity, htmlAttributes: new { @class = "control-label" })
				<div>
					@Html.EditorFor(model => model.Activity, new { htmlAttributes = new { @class = "form-control", Name = "Gift" } })
				</div>
			</div>
		</div>
        
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fas fa-window-close"></span>  Close</button>
        <a href="#" id="btnSubmit" class="btn btn-success">
            <span class="fas fa-save"></span>  Save Changes
        </a>
    </div>

</form>



<script>

    $(document).ready(function () {

        $("#myForm").validate({  // initialize plugin on the form
            rules: {
                //define field here... this used colomn name
                //sample:
                //Username: "required",
                //Email: {
                //    required: true,
                //  // Specify that email should be validated
                // // by the built-in "email" rule
                //    email: true
                //}
            },
            // Specify validation error messages
            messages: {
                // Username: "Please enter your Username",
                // email: "Please enter a valid email address"
            }
        });


        $("#btnSubmit").click(function () {

            if ($("#myForm").valid()) {

                var myformdata = $("#myForm").serialize();

                $.ajax({

                    type: "POST",
                    url: "/Log/Save",
                    data: myformdata,
                    success: function (data) {

                        if (data.success) {
                            $("#ModalId").modal("hide");
                            swal("Confirmed", "Data Successfully Saved...", "success");
                            BindDataTable();
                        }
                        else {
                            swal("error", data.message, "error");
                        }
                    }

                })

            }


        })

    })


</script>






