@model App.Model.CustomerModel


<style>

    form .error {
        color: #ff0000;
    }
</style>

<form id="myForm" role="form">

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.Status)
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.KodeCustomer, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.KodeCustomer, new { htmlAttributes = new { @class = "form-control", autoComplete = "off" } })
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                @Html.LabelFor(model => model.NamaCustomer, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.NamaCustomer, new { htmlAttributes = new { @class = "form-control", autoComplete = "off" } })
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.AlamatCustomer, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.AlamatCustomer, new { htmlAttributes = new { @class = "form-control", autoComplete = "off" } })
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                @Html.LabelFor(model => model.Negara, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.Negara, new { htmlAttributes = new { @class = "form-control", autoComplete = "off" } })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Telp, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.Telp, new { htmlAttributes = new { @class = "form-control", autoComplete = "off" } })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control", autoComplete = "off" } })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Contact, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control", autoComplete = "off" } })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })
                <div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            @if (Model.Status == "Domestik")
                            {
                                <input type="radio" class="form-check-input" name="dStatus" value="Domestik" checked />
                            }
                            else
                            {
                                <input type="radio" class="form-check-input" name="dStatus" value="Domestik" />
                            }
                            Domestik
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            @if (Model.Status == "Export")
                            {
                                <input type="radio" class="form-check-input" name="dStatus" value="Export" checked />
                            }
                            else
                            {
                                <input type="radio" class="form-check-input" name="dStatus" value="Export" />
                            }
                            Export
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><span class="fas fa-window-close"></span>  Batal</button>
        <a href="#" id="btnSubmit" class="btn btn-success btn-sm">
            <span class="fas fa-save"></span>  Simpan
        </a>
    </div>

</form>



<script>

    $(document).ready(function () {

        $("#myForm").validate({  // initialize plugin on the form
            rules: {
                //define field here... this used colomn name
                //sample:
                //Username: "required",
				KodeCustomer: "required",
				NamaCustomer: "required",
				AlamatCustomer: "required",
				Negara: "required",
				Telp: "required",
				Fax: "required",
				Contact: "required",
				Status: "required",

            },
            // Specify validation error messages
            messages: {
                // Username: "Please enter your Username",
                // email: "Please enter a valid email address"
            }
        });


        $("#btnSubmit").click(function () {

            if ($("#myForm").valid()) {

                var status = $('input[name="dStatus"]:checked').val();
                $("#Status").val(status);

                var myformdata = $("#myForm").serialize();

                $.ajax({

                    type: "POST",
                    url: "/Customer/Save",
                    data: myformdata,
                    success: function (data) {

                        if (data.success) {
                            $("#ModalId").modal("hide");
                            swal("Confirmed", "Data Successfully Saved...", "success");
                            BindDataTable();
                        }
                        else {
                            swal("error", data.message, "error");
                        }
                    }

                })

            }


        })

    })


</script>






