﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MRC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Input Hasil Meter Reading", "Contact", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <!-- Default dropright button -->
                 <button name="btn">Tes</button>
                    @*<div class="dropdown-menu">*@
                        <!-- Dropdown menu links -->
                        @*<ul>
                            <li>@Html.ActionLink("Upload User", "Index", "Home")</li>
                            <li>@Html.ActionLink("Upload Task", "About", "Home")</li>
                            <li>@Html.ActionLink("Download Hasil", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Report", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Download Hasil", "Contact", "Home")</
                            <li>@Html.ActionLink("Create user", "Register")</li>
                        </ul>*@
                    @*</div>*@
                
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meter Reading Customer</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
