﻿<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ndrlandApps</title>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/theme/new/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/theme/new/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!--DataTables CSC-->
    <link href="~/Content/DataTable/css/jquery.dataTables.css" rel="stylesheet" />
    <!--Sweet Alert CSS-->    
    <link href="~/Content/sweetalert.css" rel="stylesheet" />
    <!--daterange Picker-->
    <link href="~/theme/new/plugins/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!--Dropzone-->
    <link href="~/theme/new/plugins/dropzone-5.7.0/dropzone.min.css" rel="stylesheet" />
    <link href="~/theme/new/plugins/dropzone-5.7.0/basic.min.css" rel="stylesheet" />

    <!-- jQuery -->
    <script src="~/theme/new/plugins/jquery/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <!--Date range Picker-->    
    <script src="~/theme/new/plugins/daterangepicker/moment.min.js"></script>
    <script src="~/theme/new/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/theme/new/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--sweet alert -->
    <script src="~/Scripts/sweetalert.min.js"></script>
    <!--Download-->
    <script src="~/Scripts/download.js"></script>
    <!--Dropzone-->    
    <script src="~/theme/new/plugins/dropzone-5.7.0/dropzone.min.js"></script>
    
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light border-bottom">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="~/Home/Index" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="~/Home/Contact" class="nav-link">Contact</a>
                </li>
            </ul>
            <!-- SEARCH FORM -->
            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-user"></i>                        
                    </a>                    
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">  
                        <span class="dropdown-header"><a href="/Master/User/Profiles">Profile</a></span>
                        <div class="dropdown-divider"></div>
                        <a href="/Master/User/ChangePassword" class="dropdown-item dropdown-footer">Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a href="/Master/Account/Login" class="dropdown-item dropdown-footer">Sign Out</a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">                
                <img src="~/theme/new/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">NDRLANDAPPS</span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        @if (ViewData["fotoProfile"] != null)
                        {
                            <img src="data:image/png;base64,@ViewData["fotoProfile"]" class="img-circle elevation-2" alt="User Image" />
                        }
                        else
                        {
                            <img src="~/Content/img/imgtemplate.png" class="img-circle elevation-2" alt="User Image" />
                        }                 
                    </div>
                    <div class="info">
                        <a href="~/Master/User/Profiles" class="d-block">@ViewData["FullName"]</a>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    @Html.Partial("NewMenu")
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">@ViewBag.PageName</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">@ViewBag.PageName</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content">                    
                <div class="container-fluid">
                    <div class="row">                        
                        @RenderBody()                        
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->         
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                http://www.nadirlandapps.site/
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; Ndrlandapps</strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    
    <!-- AdminLTE App -->
    <script src="~/theme/new/dist/js/adminlte.min.js"></script>
    <!--DataTables-->
    <script src="~/Scripts/DataTable/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTable/dataTables.responsive.min.js"></script>
    <!--loading-->    
    <script src="~/Scripts/loadingOverlay/loadingoverlay.js"></script>
    <script>
        
            $(document).ajaxStart(function () {
                $.LoadingOverlay("show");
            });
            $(document).ajaxStop(function () {
                $.LoadingOverlay("hide");
            });

    </script>
</body>
</html>
