﻿
<ul class="nav nav-pills nav-sidebar flex-column text-sm" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
    @*<li class="nav-item">
        <a href="~/Home/Index" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
                Dashboard                
            </p>
        </a>
    </li>*@

    @if (ViewData["Menu"] != null)
    {
        foreach (var menu in (IEnumerable<App.Model.MenuModel>)ViewData["Menu"])
        {
            if (menu.TypeMenu == "G")
            {
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="@menu.ClassIcon"></i>
                        <p>
                            @menu.DisplayMenu
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    @foreach (var child in menu.childMenu)
                    {
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="@child.Link" class="nav-link">
                                    <i class="@child.ClassIcon"></i>
                                    <p>@child.DisplayMenu</p>
                                </a>
                            </li>
                        </ul>
                    }

                </li>
            }
            else if (menu.TypeMenu == "L")
            {
                <li class="nav-item">
                    <a href="@menu.Link" class="nav-link">
                        <i class="@menu.ClassIcon"></i>
                        <p>
                            @menu.DisplayMenu
                        </p>
                    </a>
                </li>
            }
            else
            {
                <li class="nav-header">@menu.DisplayMenu</li>
            }
        }
    }



    <!--Old-->
    @*<li class="nav-item has-treeview menu-open">
        <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
                Starter Pages
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="#" class="nav-link active">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Active Page</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Inactive Page</p>
                </a>
            </li>
        </ul>
    </li>
    
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
                Simple Link
                <span class="right badge badge-danger">New</span>
            </p>
        </a>
    </li>*@

    <!--End-->
</ul>
