@model App.Model.FinishedGoodsModel


<style>

    form .error {
        color: #ff0000;
    }

    #preview {
        width: 200px;
        height: 200px;
        border: 1px solid #ccc;
    }

</style>

<form id="myForm" role="form" enctype="multipart/form-data">

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.imageBase64String)
    @Html.HiddenFor(model => model.Foto)
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.KodeFG, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.KodeFG, new { htmlAttributes = new { @class = "form-control", autoComplete = "off" } })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.NamaFG, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.NamaFG, new { htmlAttributes = new { @class = "form-control", autoComplete = "off" } })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.GudangFG, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.GudangFG, new { htmlAttributes = new { @class = "form-control", autoComplete = "off" } })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.HSExport, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.HSExport, new { htmlAttributes = new { @class = "form-control", autoComplete = "off" } })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Satuan, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.DropDownList("Satuan", ViewBag.SatuanList as SelectList, "--Pilih Satuan--", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Keterangan, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.Keterangan, new { htmlAttributes = new { @class = "form-control", autoComplete = "off" } })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Foto, htmlAttributes: new { @class = "control-label" })
                <div>
                    <input type="file" id="dFoto" name="dFoto" />
                    <br />
                    @if (Model.Foto == null)
                    {
                        <img id="preview" src="~/Content/img/noimage.jpg" alt="Image Preview"  />
                    }
                    else
                    {
                        <img id="preview" src="@Model.imageBase64String" style="width:50%;height:50%" alt="Image Preview" />
                    }
                </div>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><span class="fas fa-window-close"></span>  Batal</button>
        <a href="#" id="btnSubmit" class="btn btn-success btn-sm">
            <span class="fas fa-save"></span>  Simpan
        </a>
    </div>

</form>



<script>
    var isUpload = false;    
    $(document).ready(function () {

        $("#myForm").validate({  // initialize plugin on the form
            rules: {
                //define field here... this used colomn name
                //sample:
                //Username: "required",
				KodeFG: "required",
				NamaFG: "required",
				GudangFG: "required",
				HSExport: "required",
				Satuan: "required",
				Keterangan: "required",
				//Foto: "required",

            },
            // Specify validation error messages
            messages: {
                // Username: "Please enter your Username",
                // email: "Please enter a valid email address"
            }
		});

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#preview').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        $('#dFoto').change(function () {
            debugger;
            var file = this.files[0];
            var fileName = file.name;
            var fileExtension = fileName.split('.').pop().toLowerCase();
            var allowedExtensions = ['jpeg', 'jpg', 'png', 'gif'];

            if (allowedExtensions.indexOf(fileExtension) === -1) {
                alert('Invalid file type. Please upload an image file (JPEG, JPG, PNG, or GIF).');
                this.value = '';
                $('#preview').attr('src', "");
                return;
            }

            var maxSize = 2 * 1024 * 1024; // 2MB in bytes

            if (file.size > maxSize) {
                alert('File size exceeds the allowed limit of 2MB.');
                this.value = '';
                $('#preview').attr('src', "");
                return;
            }

            readURL(this);
            isUpload = true;
        });


        $("#btnSubmit").click(function () {

            if ($("#myForm").valid()) {

                if (isUpload) {
                    //convert image to base64 string.
                    var fileInput = $('#dFoto')[0];

                    if (fileInput.files && fileInput.files[0]) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            var base64String = e.target.result;
                            // Use the base64String as needed
                            //console.log(base64String);
                            $("#imageBase64String").val(base64String);
                            SaveData();
                        };

                        reader.readAsDataURL(fileInput.files[0]);
                    }
                }
                else {
                    SaveData();
                }

                

            }


        })

    })

    function SaveData() {
        debugger;
        var myformdata = $("#myForm").serialize();

        $.ajax({

            type: "POST",
            url: "/FinishedGoods/Save",
            data: myformdata,
            success: function (data) {

                if (data.success) {
                    $("#ModalId").modal("hide");
                    swal("Confirmed", "Data Successfully Saved...", "success");
                    BindDataTable();
                }
                else {
                    swal("error", data.message, "error");
                }
            }

        })

    }

</script>






