@model IEnumerable<App.Model.XmlRIModel>

<div class="col-lg-12">
    <!--Table-->
    <div class="text-info">*Klik row data untuk memilih data</div>
    <div class="table-responsive">
        <table id="tblXMLViewModel" class="table table-active text-sm" style="width:100%">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ID)</th>
                    <th>@Html.DisplayNameFor(model => model.NOBUKMSK)</th>
                    <th>@Html.DisplayNameFor(model => model.TGBUKMSK)</th>
                    <th>@Html.DisplayNameFor(model => model.KOBAR)</th>
                    <th>@Html.DisplayNameFor(model => model.QTY)</th>
                    <th>@Html.DisplayNameFor(model => model.DownloadDate)</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><span class="fas fa-window-close"></span>  Batal</button>
        <a href="#" id="btnPilihData" class="btn btn-success btn-sm">
            <span class="fas fa-save"></span>  Pilih Data
        </a>
    </div>
</div>
<!-- /.col -->

<script>
    $(document).ready(function () {        
        BindDataTable();
    });

        //region Datatables
        var oTable;
        var BindDataTable = function (response) {

            if ($.fn.DataTable.isDataTable("#tblXMLViewModel")) {
                debugger
                oTable.draw();
                //oTable.fnDraw();

            }
            else {
                debugger
                oTable = $("#tblXMLViewModel").DataTable({
                    "bServerSide": true,
                    "select": {
                        "style": "single"
                    },
                    //disable Sort column
                    "targets": 'no-sort',
                    "bSort": false,
                    "order": [],
                    //end
                    "sAjaxSource": "/XmlRI/GetDisplayData",
                    "fnServerData": function (sSource, aoData, fnCallback) {

                        //for Custom Filter
                        var EName = "";
                        aoData.push({ "name": "EName", "value": EName });

                        $.ajax({

                            type: "Get",
                            data: aoData,
                            url: sSource,
                            success: fnCallback
                        })

                    },
                    "aoColumns": [

						{ "mData": "ID" },
						{ "mData": "NOBUKMSK" },
						{ "mData": "TGBUKMSK" },
						{ "mData": "KOBAR" },
                        { "mData": "QTY" },
                        {
                            "mData": "DownloadDate", "type": "date",
                            "autoWidth": true,
                            "render": function (value) {
                                var start = moment(value).format('YYYY-MM-DD hh:mm');
                                return start;
                            }
                        },
                    ]

                });
            }
        }
        //custom filter
        var FilterRecord = function () {

            BindDataTable();
        }
        //endregion

    //event Table Material
    var selectedMaterial = [];
    $('#tblXMLViewModel').on('select.dt', function (e, dt, type, indexes) {
        var data = dt.rows(indexes).data();
        console.log(data[0]);

        //reset
        selectedMaterial = [];
        //push data
        selectedMaterial.push(data[0]);        
    });

    $("#btnPilihData").click(function () {
        ProcessSelectedPopUpData(selectedMaterial);
    })

</script>



