﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="~/Content/login22-css/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Content/login22-css/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Content/login22-css/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Content/login22-css/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Content/login22-css/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="~/Content/login22-css/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Content/login22-css/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Content/login22-css/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="~/Content/login22-css/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Content/login22-css/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/Content/login22-css/css/main.css">
<!--===============================================================================================-->
</head>
<body>
    
    <div class="limiter">
        <div class="container-login100" style="background-image: url('../../../../Content/login22-css/images/bg-01.jpg');">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="login100-form-title p-b-41">
                    IT Inventory Login
                </span>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { area = "Master", @class= "login100-form validate-form p-b-33 p-t-5" }))
            {
                @Html.Hidden("ReturnUrl", Request["ReturnUrl"])
                @*<form class="login100-form validate-form p-b-33 p-t-5">*@

                    if (ViewBag.Message != null)
                    {
                        <div class="alert alert-danger">
                            <button class="close" data-close="alert"></button>
                            <span id="errorMessage">@ViewBag.Message</span>
                        </div>
                    }
                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        <input class="input100" type="text" name="Username" placeholder="User name" autocomplete="off">
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" name="Password" placeholder="Password" autocomplete="off">
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>

                    <div class="container-login100-form-btn m-t-32">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>

                @*</form>*@
                }
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Content/login22-css/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login22-css/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login22-css/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/login22-css/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login22-css/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login22-css/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/login22-css/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login22-css/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login22-css/js/main.js"></script>
</body>
</html>
