﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <!--Bootstrap-->
    <!-- Bootstrap Core CSS -->
    <link href="~/theme/login/bootstrap.min.css" rel="stylesheet" />

    @*New Template*@

    <style>
        /* Credit to bootsnipp.com for the css for the color graph */
        .colorgraph {
            height: 5px;
            border-top: 0;
            background: #c4e17f;
            border-radius: 5px;
            background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
            background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
            background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
            background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        }

        #footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 2.5rem; /* Footer height */
        }
    </style>



</head>
<body>

    <div class="content">
        <div class="container">
            <div class="row" style="margin-top:20px">
                <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                    @using (Html.BeginForm("RabbitHole", "Account", FormMethod.Post, new { area = "Master" }))
                    {
                        @Html.Hidden("ReturnUrl", Request["ReturnUrl"])
                        @*<form role="form">*@
                        <fieldset class="border border-dark" style="padding:10%;box-shadow: 7px 7px 10px;">
                            <h2>Please Sign In</h2>
                            @if (ViewBag.Message != null)
                            {
                                <div class="alert alert-danger">
                                    <button class="close" data-close="alert"></button>
                                    <span id="errorMessage">@ViewBag.Message</span>
                                </div>
                            }
                            <hr class="colorgraph">
                            <div class="form-group">
                                <input type="text" name="Username" id="Username" class="form-control input-lg" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input type="password" name="Password" id="Password" class="form-control input-lg hidden" placeholder="Password">
                            </div>
                            <span class="button-checkbox" hidden="hidden">
                                <button type="button" hidden="hidden" class="btn" data-color="info">Remember Me</button>
                                <input type="checkbox" name="remember_me" id="remember_me" checked="checked" class="hidden">
                            </span>

                            <hr class="colorgraph">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-12">
                                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign In" data-bind="click: submit, enabled: enable">
                                </div>
                            </div>

                        </fieldset>
                            @*</form>*@
                    }
                </div>
            </div>

        </div>
    </div>

</body>
</html>
