﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12">
    <div class="card card-outline card-primary">
               
        <div class="card-footer">
            <a href="#" id="btnView" class="btn btn-primary btn-sm">
                <span>Process Report</span>
            </a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#btnView").on('click', function (e) {
            e.preventDefault();

            var type = "@ViewBag.Type";
            var url = url = "/Report/ViewReportIT.aspx?type=" + type;            
            window.open(url, '_blank');

        });

    })
</script>