@model App.Model.XmlWOModel


<style>

    form .error {
        color: #ff0000;
    }
</style>

<form id="myForm" role="form">

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)    

    <div class="row">
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.NOORDP, htmlAttributes: new { @class = "control-label" })
				<div>
					@Html.EditorFor(model => model.NOORDP, new { htmlAttributes = new { @class = "form-control" } })
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.TGORDP, htmlAttributes: new { @class = "control-label" })
				<div>
					@Html.EditorFor(model => model.TGORDP, new { htmlAttributes = new { @class = "form-control" } })
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.KDPART, htmlAttributes: new { @class = "control-label" })
				<div>
					@Html.EditorFor(model => model.KDPART, new { htmlAttributes = new { @class = "form-control" } })
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.QTY, htmlAttributes: new { @class = "control-label" })
				<div>
					@Html.EditorFor(model => model.QTY, new { htmlAttributes = new { @class = "form-control" } })
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.DownloadDate, htmlAttributes: new { @class = "control-label" })
				<div>
					@Html.EditorFor(model => model.DownloadDate, new { htmlAttributes = new { @class = "form-control" } })
				</div>
			</div>
		</div>
        
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><span class="fas fa-window-close"></span>  Kembali</button>        
    </div>

</form>


<script>
$(document).ready(function(){
    $('#myForm input').attr('readonly', 'readonly');
})
</script>







