@model App.Model.XmlDOModel


<style>

    form .error {
        color: #ff0000;
    }
</style>

<form id="myForm" role="form">

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)    

    <div class="row">
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.NOFGKEL, htmlAttributes: new { @class = "control-label" })
				<div>
					@Html.EditorFor(model => model.NOFGKEL, new { htmlAttributes = new { @class = "form-control", autoComplete="off" } })
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.TGFGKL, htmlAttributes: new { @class = "control-label" })
				<div>
					@Html.EditorFor(model => model.TGFGKL, new { htmlAttributes = new { @class = "form-control", autoComplete="off" } })
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.KDPART, htmlAttributes: new { @class = "control-label" })
				<div>
					@Html.EditorFor(model => model.KDPART, new { htmlAttributes = new { @class = "form-control", autoComplete="off" } })
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.QTY, htmlAttributes: new { @class = "control-label" })
				<div>
					@Html.EditorFor(model => model.QTY, new { htmlAttributes = new { @class = "form-control", autoComplete="off" } })
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.DownloadDate, htmlAttributes: new { @class = "control-label" })
				<div>
					@Html.EditorFor(model => model.DownloadDate, new { htmlAttributes = new { @class = "form-control", autoComplete="off" } })
				</div>
			</div>
		</div>
        
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><span class="fas fa-window-close"></span>  Batal</button>
        <a href="#" id="btnSubmit" class="btn btn-success btn-sm">
            <span class="fas fa-save"></span>  Simpan
        </a>
    </div>

</form>



<script>

    $(document).ready(function () {

        $("#myForm").validate({  // initialize plugin on the form
            rules: {
                //define field here... this used colomn name
                //sample:
                //Username: "required",
				NOFGKEL: "required",
				TGFGKL: "required",
				KDPART: "required",
				QTY: "required",
				DownloadDate: "required",

            },
            // Specify validation error messages
            messages: {
                // Username: "Please enter your Username",
                // email: "Please enter a valid email address"
            }
        });


        $("#btnSubmit").click(function () {

            if ($("#myForm").valid()) {

                var myformdata = $("#myForm").serialize();

                $.ajax({

                    type: "POST",
                    url: "/XmlDO/Save",
                    data: myformdata,
                    success: function (data) {

                        if (data.success) {
                            $("#ModalId").modal("hide");
                            swal("Confirmed", "Data Successfully Saved...", "success");
                            BindDataTable();
                        }
                        else {
                            swal("error", data.message, "error");
                        }
                    }

                })

            }


        })

    })


</script>






