﻿@{
    ViewBag.Title = "Contact";
}
<div class="col-lg-12">
    <div class="card card-primary card-outline">
        <div class="card-body">
            <address>
                Nadir<br />
                http://www.nadirlandapps.site<br />
                Jakarta<br />
                <abbr title="Phone">P:</abbr>
                +62 877 8173 1154
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:nadhirasshiddiq@gmail.com">nadhirasshiddiq@gmail.com</a><br />
            </address>
            
        </div>
    </div>    
</div>

