@model IEnumerable<App.Model.XmlPMRModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-lg-12">	
    <!--Table-->
    <div class="card">
        <div class="card-header">
            <h4>
                <small class="float-left">
                    <a href="#" onclick="AddEdit(0);" class="btn btn-outline-primary btn-sm"><span class="fas fa-plus"></span> Tambah XmlPMR</a>
                </small>
            </h4>            
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tblViewModel" class="table table-active text-sm" style="width:100%">
                    <thead>
                        <tr>
							<th>@Html.DisplayNameFor(model => model.ID)</th>
							<th>@Html.DisplayNameFor(model => model.NOORDPR)</th>
							<th>@Html.DisplayNameFor(model => model.NOFGMSK)</th>
							<th>@Html.DisplayNameFor(model => model.TGFGMSK)</th>
							<th>@Html.DisplayNameFor(model => model.KDPART)</th>
							<th>@Html.DisplayNameFor(model => model.QTY)</th>
							<th>@Html.DisplayNameFor(model => model.DownloadDate)</th>

                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>        
            <input type="hidden" id="hiddenId" />
        </div>
    </div>
</div>
<!-- /.col -->

<!--Modal-->
<div class="modal fade" id="ModalId" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><label id="TitleModal">XmlPMR Form</label></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="ModalBody">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<script>
    $(document).ready(function () {        
        BindDataTable();
    });

        //region Datatables
        var oTable;
        var BindDataTable = function (response) {

            if ($.fn.DataTable.isDataTable("#tblViewModel")) {
                debugger
                oTable.draw();
                //oTable.fnDraw();

            }
            else {
                debugger
                oTable = $("#tblViewModel").DataTable({
                    "bServerSide": true,
                    //disable Sort column
                    "targets": 'no-sort',
                    "bSort": false,
                    "order": [],
                    //end
                    "sAjaxSource": "/XmlPMR/GetDisplayData",
                    "fnServerData": function (sSource, aoData, fnCallback) {

                        //for Custom Filter
                        var EName = $("#EName").val();
                        aoData.push({ "name": "EName", "value": EName });

                        $.ajax({

                            type: "Get",
                            data: aoData,
                            url: sSource,
                            success: fnCallback
                        })

                    },
                    "aoColumns": [

						{ "mData": "ID" },
						{ "mData": "NOORDPR" },
						{ "mData": "NOFGMSK" },
						{ "mData": "TGFGMSK" },
						{ "mData": "KDPART" },
						{ "mData": "QTY" },
						{ "mData": "DownloadDate" },

                        
                        {
                            "mData": "ID",
                            "render": function (ID, type, full, meta) {

                                return '<a href="javascript:void(0);" onclick="View(' + ID + ')"><i class="fas fa-eye"></i> lihat</a>'
                            }
                        },
                        {
                            "mData": "ID",
                            "render": function (ID, type, full, meta) {

                                return '<a href="javascript:void(0);" onclick="AddEdit(' + ID + ')"><i class="fas fa-edit"></i> Ubah</a>'
                            }
                        },
                        {
                            "mData": "ID",
                            "render": function (ID, type, full, meta) {

                                return '<a href="javascript:void(0);" onclick="ConfirmDelete(' + ID + ')"><i class="fas fa-trash"></i> Hapus</a>'
                            }
                        }

                    ]

                });
            }
        }
        //custom filter
        var FilterRecord = function () {

            BindDataTable();
        }
        //endregion


        //region CUD

        var AddEdit = function (Id) {

            var url = "/XmlPMR/AddEditForm?id=" + Id;
            console.log(Id);
            $("#ModalBody").load(url, function () {
                $("#ModalId").modal("show");

            })

        }

        var View = function (Id) {

            var url = "/XmlPMR/ViewForm?id=" + Id;
            console.log(Id);
            $("#ModalBody").load(url, function () {
                $("#ModalId").modal("show");

            })

        }

        var ConfirmDelete = function (Id) {
            debugger
            $("#hiddenId").val(Id);
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            }, function (isConfirm) {
                if (!isConfirm) return;
                doDelete();
            });
        }

        var doDelete = function () {
            debugger
            var id = $("#hiddenId").val();

            $.ajax({
                type: "Post",
                url: "/XmlPMR/Delete?Id=" + id,
                success: function (result) {

                    if (result.success == true) {
                        swal("Success", result.message, "success");
                        BindDataTable();
                    }
                    else {
                        swal("error", result.message, "error");
                    }

                }

            })

        }


        //endregion


</script>



