@model App.Model.DeliveryOrderDetailModel


<style>

    form .error {
        color: #ff0000;
    }
</style>

<form id="myForm" role="form">

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)    

    <div class="row">
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.DOID, htmlAttributes: new { @class = "control-label" })
				<div>
					@Html.EditorFor(model => model.DOID, new { htmlAttributes = new { @class = "form-control" } })
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.KodeFG, htmlAttributes: new { @class = "control-label" })
				<div>
					@Html.EditorFor(model => model.KodeFG, new { htmlAttributes = new { @class = "form-control" } })
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.NamaFG, htmlAttributes: new { @class = "control-label" })
				<div>
					@Html.EditorFor(model => model.NamaFG, new { htmlAttributes = new { @class = "form-control" } })
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.HSExport, htmlAttributes: new { @class = "control-label" })
				<div>
					@Html.EditorFor(model => model.HSExport, new { htmlAttributes = new { @class = "form-control" } })
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.Satuan, htmlAttributes: new { @class = "control-label" })
				<div>
					@Html.EditorFor(model => model.Satuan, new { htmlAttributes = new { @class = "form-control" } })
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.QtyKirim, htmlAttributes: new { @class = "control-label" })
				<div>
					@Html.EditorFor(model => model.QtyKirim, new { htmlAttributes = new { @class = "form-control" } })
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.HargaSatuan, htmlAttributes: new { @class = "control-label" })
				<div>
					@Html.EditorFor(model => model.HargaSatuan, new { htmlAttributes = new { @class = "form-control" } })
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				@Html.LabelFor(model => model.JumlahHarga, htmlAttributes: new { @class = "control-label" })
				<div>
					@Html.EditorFor(model => model.JumlahHarga, new { htmlAttributes = new { @class = "form-control" } })
				</div>
			</div>
		</div>
        
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><span class="fas fa-window-close"></span>  Kembali</button>        
    </div>

</form>


<script>
$(document).ready(function(){
    $('#myForm input').attr('readonly', 'readonly');
})
</script>







