﻿@model IEnumerable<App.Web.Areas.Master.Models.RoleMenuModelView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-lg-12">
	<!--Panel Header-->
    <div class="card">
        <div class="card-body">
            <a href="#" class="btn btn-primary" onclick="AddEdit(0)"><span class="fas fa-plus"></span> Create </a>            
        </div>
    </div>

    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">Quick Seach..</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
                <button type="button" class="btn btn-tool" data-widget="remove"><i class="fas fa-remove"></i></button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" id="EName" class="form-control" placeholder="Enter Role Name" />
                    </div>
                    <!-- /.form-group -->
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <a href="#" class="btn  btn-primary" onclick="FilterRecord()"><span class="fas fa-search"></span> Search</a>
        </div>
    </div>
    <!-- /.card -->
    <!--End Panel-->
    <!--Table-->
    <div class="card">
        <div class="card-body">
           
            <table id="tblViewModel" class="display">
                <thead>
                    <tr>
						<th>@Html.DisplayNameFor(model => model.ID)</th>
						<th>@Html.DisplayNameFor(model => model.RoleName)</th>
						<th>@Html.DisplayNameFor(model => model.DisplayMenu)</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
                      
            <input type="hidden" id="hiddenId" />
        </div>
    </div>
</div>
<!-- /.col -->

<!--Modal-->
<div class="modal fade" id="ModalId" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><label id="TitleModal">@ViewBag.Title Form</label></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="ModalBody">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<script>
    $(document).ready(function () {        
        BindDataTable();
    });

        //region Datatables
        var oTable;
        var BindDataTable = function (response) {

            if ($.fn.DataTable.isDataTable("#tblViewModel")) {
                debugger
                oTable.draw();
                //oTable.fnDraw();

            }
            else {
                debugger
                oTable = $("#tblViewModel").DataTable({
                    "bServerSide": true,
                    "sAjaxSource": "/RoleMenu/GetDisplayData",
                    "fnServerData": function (sSource, aoData, fnCallback) {

                        //for Custom Filter
                        var EName = $("#EName").val();
                        aoData.push({ "name": "EName", "value": EName });

                        $.ajax({

                            type: "Get",
                            data: aoData,
                            url: sSource,
                            success: fnCallback
                        })

                    },
                    "aoColumns": [

						{ "mData": "ID" },
						{ "mData": "RoleName" },
						{ "mData": "DisplayMenu" },
						
                        {
                            "mData": "ID",
                            "render": function (ID, type, full, meta) {

                                return '<a href="#" onclick="AddEdit(' + ID + ')"><i class="fas fa-edit"></i></a>'
                            }
                        },
                        {
                            "mData": "ID",
                            "render": function (ID, type, full, meta) {

                                return '<a href="#" onclick="ConfirmDelete(' + ID + ')"><i class="fas fa-trash"></i></a>'
                            }
                        }

                    ]

                });
            }
        }
        //custom filter
        var FilterRecord = function () {

            BindDataTable();
        }
        //endregion


        //region CUD

        var AddEdit = function (Id) {

            var url = "/RoleMenu/AddEditRoleMenu?id=" + Id;
            console.log(Id);
            $("#ModalBody").load(url, function () {
                $("#ModalId").modal("show");

            })

        }

        var ConfirmDelete = function (Id) {
            debugger
            $("#hiddenId").val(Id);
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            }, function (isConfirm) {
                if (!isConfirm) return;
                doDelete();
            });
        }

        var doDelete = function () {
            debugger
            var id = $("#hiddenId").val();

            $.ajax({
                type: "Post",
                url: "/RoleMenu/Delete?Id=" + id,
                success: function (result) {

                    if (result.success == true) {
                        swal("Success", result.message, "success");
                        BindDataTable();
                    }
                    else {
                        swal("error", result.message, "error");
                    }

                }

            })

        }


        //endregion


</script>


