﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-12">    
    <!--Table-->
    <div class="card card-outline card-primary">
        <div class="card-header">
            <h4>                
                <small class="float-left">
                    <a href="#" class="btn btn-primary btn-sm" onclick="AddEdit(0)"><i class="fas fa-user"></i> Tambah User </a>
                </small>
            </h4>
        </div>
        <div class="card-body">
            @*region Table*@

            <table id="tblViewModel" class="display" style="width:100%">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Nama</td>
                        <td>Username</td>
                        <td>Level</td>
                        <td>Status</td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            @*endregion

            @*region Modal*@



            @*endregion*@

            <input type="hidden" id="hiddenId" />
        </div>
    </div>
    <!--end Table-->
</div>
<!-- /.col -->

<!--Modal-->
<div class="modal fade" id="ModalId" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><label id="TitleModal"></label></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="ModalBody">
            </div>            
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



<script>
    $(document).ready(function () {
        $("#TitleModal").text("User Form");
        BindDataTable();
    });

        //region Datatables
        var oTable;
        var BindDataTable = function (response) {

            if ($.fn.DataTable.isDataTable("#tblViewModel")) {
                debugger
                oTable.draw();
                //oTable.fnDraw();

            }
            else {
                debugger
                oTable = $("#tblViewModel").DataTable({
                    "bServerSide": true,
                    "responsive": true,  
                    //disable Sort column
                    "targets": 'no-sort',
                    "bSort": false,
                    "order": [],
                    //end
                    "sAjaxSource": "/User/GetDisplayData",
                    "fnServerData": function (sSource, aoData, fnCallback) {

                        //for Custom Filter
                        var EName = "";
                        aoData.push({ "name": "EName", "value": EName });

                        $.ajax({

                            type: "Get",
                            data: aoData,
                            url: sSource,
                            success: fnCallback
                        })

                    },
                    "aoColumns": [
                        { "mData": "ID" },
                        { "mData": "FullName" },
                        { "mData": "Username" },                        
                        { "mData": "UserRole" },
                        { "mData": "Status"},                        
                        {
                            "mData": "ID",
                            "render": function (ID, type, full, meta) {

                                return '<a href="#" onclick="AddEdit(' + ID + ')"><i class="fas fa-edit"></i> ubah</a>'
                            }
                        },
                        {
                            "mData": "ID",
                            "render": function (ID, type, full, meta) {

                                return '<a href="#" onclick="ConfirmDelete(' + ID + ')"><i class="fas fa-trash"></i> hapus</a>'
                            }
                        }

                    ]

                });
            }
        }
        //custom filter
        var FilterRecord = function () {

            BindDataTable();
        }
        //endregion


        //region CUD

        var AddEdit = function (Id) {

            var url = "/User/AddEditUser?id=" + Id;
            console.log(Id);
            $("#ModalBody").load(url, function () {
                $("#ModalId").modal("show");

            })

        }

        var ConfirmDelete = function (Id) {
            debugger
            $("#hiddenId").val(Id);
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            }, function (isConfirm) {
                if (!isConfirm) return;
                doDelete();
            });
        }

        var doDelete = function () {
            debugger
            var id = $("#hiddenId").val();

            $.ajax({
                type: "Post",
                url: "/User/Delete?Id=" + id,
                success: function (result) {

                    if (result.success == true) {
                        swal("Success", result.message, "success");
                        BindDataTable();
                    }
                    else {
                        swal("error", result.message, "error");
                    }

                }

            })

        }


        //endregion


        var Export = function () {
            
            $.ajax({
                type :"Get",
                url: "/User/ExportToExcel",
                success: function (response) {

                    if (response.success == true) {
                        download(response.data, `Report_User.xlsx`, "application/octet-stream");
                    }
                    else {
                        swal("error", response.message, "error");
                    }

                }
            })

        }

</script>
