﻿@import 'css3.css';

* {
	margin:0; padding:0;
}

body {
    background-color: #fff; margin: 0px; height: 100%;
}

.validation-summary-errors 
{
    color:Red;
    font-size : 14px;
}

img {
	border:0;
}


#bottomColor 
{
    position:fixed; 
    z-index:1;
    left:0px;
    top: 87%;  
    width: 100%; 
    height: 100%; 
    background-color: #4d0000;
    margin-top:2px;
}

#bottomColor2
{
    position:fixed; 
    z-index:1;
    left:0px;
    top: 82%;  
    width: 100%; 
    height: 100%; 
    background-color:#df2020;
    margin-top:2px;
}
#bottomColor3
{
    position: fixed;
    z-index:1;
    background:url(../Content/img/transparentGrey.png) 0 0 repeat;
    top: 47%;  
    width: 100%; 
    height: 100%; 
    background-color:none;
    margin-top:2px;   
}

#gradient
{
    position: fixed;
    z-index:1;
    background:url(../Content/img/grad.png) 0 0 repeat-x;
    top:50%;
    width:100%;
    height:300px;
    margin-top:-300px;    
}

#Logo
{
    position: fixed;
    z-index:-1;
    background:url(../Content/img/dummy-logo.png) 0 0 no-repeat;
    top:50%;
    width:100%;
    height:670px;
    margin-top:-370px;  
    margin-left:50px;  
    overflow:hidden;
}

#Line
{
    position: fixed;
    z-index:2;
    background-color: #fff;
    top:50%;
    width:100%;
    height:2px;    
}

#contentBox
{
    position:fixed;
    z-index:3;
    top:50%;
    left:50%;
    vertical-align:middle;
    margin-top: -150px;
    margin-left: 120px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color:#f7f7f7;
    background:#f7f7f7 url('../Content/img/line-glow.png') no-repeat right bottom;
    width:400px;
    height:250px;
    padding:10px 10px 10px 10px;
    box-shadow: #141414 0.2em 0.2em 0.9em;    
}

#container {
	width:960px;
	margin:0 auto;
}

#container .logo {
	width:230px;
	margin:240px auto 0;
}

#container #box {
 clear:both;
 float:none;
 width:70%;
 margin:50px auto 0;
}


.loginInput , input[type="text"]:focus , input[type="password"]:focus {
    box-shadow: 0 0 5px #f57b20;
    -webkit-box-shadow: 0 0 5px #f57b20; 
    -moz-box-shadow: 0 0 5px #f57b20;
    border:1px solid #e7e7e8; 
}
.loginInput , input[type="text"], input[type="password"]
{
    outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    
    border:1px solid silver;
    font-size:15px;
    width:200px;
    height:20px;
    padding:1px 5px 1px 5px;
    position:relative;
    margin-top:0px;
    display:inline;
}

.loginInput
{
    font-family:Arial;
    font-size:14px;   
    
}
.loginInput td
{
    width:30px;    
}

.tableInput 
{
    font-family:Arial;
    font-size:14px;   
	margin-top:30px;
	margin-left:43px;
	border:0px;
	
}
.tableInput table
{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}

.tableInput table,td
{
    width:40px;
    padding:9px 0px 9px 0px;
    margin-left:-12px;
}


#box p {
 clear:both;
 float:none;
 width:100%;
}

center.bottomText
{
 font-size:12px;
 color:#efefef;
 font-family:Verdana;
 vertical-align:middle;
 margin-top: 38px;
}

#btnLogin 
{
 margin-top:0px;
 color:#000;
 font-size:12px;
 border:1px solid #cecece;
 background-color:#fefefe;
 padding: 3px 10px 3px 10px;
 
}
#btnLogin:hover
{
    border:1px solid #e7e7e8; 
}

span {
 font-size:13px;
 color:#343434;
 text-shadow: 1px 1px 1px #efefef;
}

.space 
{
 padding-top:15px;
}

.errMsge
{
 position:fixed;
 top:50%;
 
 width:370px; 
 padding-bottom:15px;  
 padding-left:12px; 
 margin-top: 50px;
 margin-left: 310px; 
 font-weight:12px;
 
}

#errArea .validation-summary-errors
{
    color:#e00;
    font-size:13px;
    text-shadow: 1px 1px 1px #aaa;
    padding:0px 10px 0px 15px;
    margin-left:-31px;
}

span input {
 margin-left:125px;
 margin-right:5px;
 border:1px solid #111;
 background:#444;
 color:#fff;
}
