@model App.Model.KonversiProductModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    form .error {
        color: #ff0000;
    }
</style>

<div class="col-lg-12">
    <form id="myForm" role="form">

        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.Status)
        @Html.HiddenFor(model => model.QtyBarang)
        @Html.HiddenFor(model => model.QtyBom)
        @Html.HiddenFor(model => model.Foto)
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <h2>Detail Konversi</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.KodeFG, htmlAttributes: new { @class = "control-label" })
                                    <div>
                                        @Html.EditorFor(model => model.KodeFG, new { htmlAttributes = new { @class = "form-control form-control-sm", autoComplete = "off" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.HSExport, htmlAttributes: new { @class = "control-label" })
                                    <div>
                                        @Html.EditorFor(model => model.HSExport, new { htmlAttributes = new { @class = "form-control form-control-sm", autoComplete = "off" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NamaFG, htmlAttributes: new { @class = "control-label" })
                                    <div>
                                        @Html.EditorFor(model => model.NamaFG, new { htmlAttributes = new { @class = "form-control form-control-sm", autoComplete = "off" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BOM, htmlAttributes: new { @class = "control-label" })
                                    <div>
                                        @Html.EditorFor(model => model.BOM, new { htmlAttributes = new { @class = "form-control form-control-sm", autoComplete = "off" } })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SatuanExport, htmlAttributes: new { @class = "control-label" })
                                    <div>
                                        @Html.EditorFor(model => model.SatuanExport, new { htmlAttributes = new { @class = "form-control form-control-sm", autoComplete = "off" } })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Keterangan, htmlAttributes: new { @class = "control-label" })
                                    <div>
                                        @Html.EditorFor(model => model.Keterangan, new { htmlAttributes = new { @class = "form-control form-control-sm", autoComplete = "off" } })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-4">
                        <div class="col-md-12">
                            <label>Foto Product</label>
                            <div class="form-group text-center">
                                @if (Model.Foto == null)
                                {
                                    <img id="preview" src="~/Content/img/noimage.jpg" alt="Image Preview" style="width:70%;height:70%;" />
                                }
                                else
                                {
                                    <img id="preview" src="@Model.imageBase64String" style="width:70%;height:70%;" alt="Image Preview" />
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="card card-outline card-secondary">
            <div class="card-body">
                <div class="row">
                    <table class="table table-active table-responsive-sm">
                        <tr>
                            <th style="width:15%">Kode Barang</th>
                            <th style="width:35%">Nama Barang</th>
                            <th style="width:10%">HS Import</th>
                            <th style="width:10%">Satuan</th>
                            <th style="width:10%">Koefisien</th>
                            <th style="width:10%">Kandungan</th>
                            <th style="width:10%">Waste</th>
                        </tr>
                        <tr>
                            <td>@Model.KodeBarang</td>
                            <td>@Model.NamaBarang</td>
                            <td>@Model.HSImport</td>
                            <td>@Model.Satuan</td>
                            <td>@Model.Koefisien.ToString("N4")</td>
                            <td>@Model.Kandungan.ToString("N4")</td>
                            <td>@Model.Waste.ToString("N4")</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" id="btncancel"><span class="fas fa-window-close"></span>  Kembali</button>
        </div>


    </form>
</div>

<script>
    $(document).ready(function () {
        $('#myForm input').attr('readonly', 'readonly');
        $("#btncancel").click(function () {
            var url = "/Transaction/KonversiProduct/Index";
            window.location.href = url;
        });
    })
</script>







