@model App.Model.FinishGoodsInResultModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    form .error {
        color: #ff0000;
    }
</style>

<form id="myForm" role="form">

    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.OpsiProduksi)

    @Html.HiddenFor(model => model.KodeFG)
    @Html.HiddenFor(model => model.NamaFG)
    @Html.HiddenFor(model => model.HSExport)
    @Html.HiddenFor(model => model.SatuanExport)
    @Html.HiddenFor(model => model.QtyOrder)
    @Html.HiddenFor(model => model.Status)
    @Html.HiddenFor(model => model.AkanKirim)
    @Html.HiddenFor(model => model.SudahKirim)
    @Html.HiddenFor(model => model.DlmProses)
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <h2>Approve Finished Goods in Result</h2>
        </div>
        <div class="card-body">
            @if (ViewBag.IsExist)
            {
                <div class="alert alert-warning">
                    <h5><i class="icon fas fa-exclamation-triangle"></i> Alert!</h5>
                    No. Result ini terdapat lebih dari satu data dan sudah pernah dilakukan proses Approval. Silahkan direview kembali!
                </div>
            }
            <div class="row">

                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NoWO, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.NoWO, new { htmlAttributes = new { @class = "form-control form-control-sm", autoComplete = "off", readOnly = "readOnly" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TglWO, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.TglWO, new { htmlAttributes = new { @class = "form-control form-control-sm", autoComplete = "off", readOnly = "readOnly" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NoResult, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.NoResult, new { htmlAttributes = new { @class = "form-control form-control-sm", autoComplete = "off", readOnly = "readOnly" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TglResult, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.TglResult, new { htmlAttributes = new { @class = "form-control form-control-sm", autoComplete = "off", readOnly = "readOnly" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.KodeSubkon, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    <select id="KodeSubkon" name="KodeSubkon" class="form-control form-control-sm">
                                        <option selected disabled value=""></option>
                                        @foreach (var vendor in ViewBag.VendorList)
                                        {
                                            <option value="@vendor.KodeVendor" data-nama="@vendor.NamaVendor" data-alamat="@vendor.AlamatVendor">@vendor.KodeVendor</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NamaSubkon, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.NamaSubkon, new { htmlAttributes = new { @class = "form-control form-control-sm", autoComplete = "off" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Alamat, htmlAttributes: new { @class = "control-label" })
                                <div>
                                    @Html.EditorFor(model => model.Alamat, new { htmlAttributes = new { @class = "form-control form-control-sm", autoComplete = "off" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="col-md-12 border border-primary" style="padding:10px;">
                        <div class="form-group">
                            @Html.LabelFor(model => model.OpsiProduksi, htmlAttributes: new { @class = "control-label" })
                            <div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        @if (Model.OpsiProduksi == "PPIC")
                                        {
                                            <input type="radio" class="form-check-input" name="dOpsiProduksi" value="PPIC" checked />
                                        }
                                        else
                                        {
                                            <input type="radio" class="form-check-input" name="dOpsiProduksi" value="PPIC" />
                                        }
                                        PPIC
                                    </label>
                                </div>
                                <div style="height:20px;"></div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        @if (Model.OpsiProduksi == "Subkon")
                                        {
                                            <input type="radio" class="form-check-input" name="dOpsiProduksi" value="Subkon" checked />
                                        }
                                        else
                                        {
                                            <input type="radio" class="form-check-input" name="dOpsiProduksi" value="Subkon" />
                                        }
                                        Subkon
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding-top:20px;">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Keterangan, htmlAttributes: new { @class = "control-label" })
                            <div>
                                <textarea id="Keterangan" name="Keterangan" class="form-control form-control-sm" style="height:110px;">@Model.Keterangan</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-outline card-secondary">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-active table-sm">
                            <tr>
                                <th>Kode FG</th>
                                <th width="30%">Nama Finish Goods</th>
                                <th>HS Export</th>
                                <th>Sat</th>
                                <th>Qty Order</th>
                                <th>Sudah Dikirim</th>
                                <th>Akan Dikirim</th>
                                <th>Dalam Proses</th>
                            </tr>
                            <tr>
                                <td>@Model.KodeFG</td>
                                <td>@Model.NamaFG</td>
                                <td>@Model.HSExport</td>
                                <td>@Model.SatuanExport</td>
                                <td>@Model.QtyOrder.ToString("N4")</td>
                                <td>@Model.SudahKirim.ToString("N4")</td>
                                <td>@Model.AkanKirim.ToString("N4")</td>
                                <td>@Model.DlmProses.ToString("N4")</td>
                            </tr>
                            <tr>
                                <td colspan="3" style="text-align:center;"><b>Total Product akan Selesai</b></td>
                                <td colspan="3"></td>
                                <td>@Model.AkanKirim.ToString("N4")</td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" id="btncancel"><span class="fas fa-window-close"></span>  Batal</button>
        @if (ViewBag.IsExist)
        {
            <button class="btn btn-success btn-sm" disabled><span class="fas fa-save"></span>  Approve</button>
        }
        else
        {
            <a href="#" id="btnSubmit" class="btn btn-success btn-sm">
                <span class="fas fa-save"></span>  Approve
            </a>
        }
    </div>

</form>



<script>

    $(document).ready(function () {

        $("#myForm").validate({  // initialize plugin on the form
            rules: {
                //define field here... this used colomn name
                //sample:
                //Username: "required",
                OpsiProduksi: "required",
                NoWO: "required",
                TglWO: "required",
                NoRelease: "required",
                //Keterangan: "required",
                KodeFG: "required",
                NamaFG: "required",                
                Status: "required",

            },
            // Specify validation error messages
            messages: {
                // Username: "Please enter your Username",
                // email: "Please enter a valid email address"
            }
        });

        $("#KodeSubkon").on("change", function () {
            debugger;
            var nama = $(this).find("option:selected").data('nama');
            var alamat = $(this).find("option:selected").data('alamat');
            //set value
            $("#NamaSubkon").val(nama);
            $("#Alamat").val(alamat);
        });

        $("#btnSubmit").click(function () {

            let NamaFG = $("#NamaFG").val();
            if (NamaFG == '') {
                swal("error", "No. FG tidak ditemukan di Finish Goods, Silahkan dilengkapi terlebih dahulu!", "error");
                return;
            }
            //asign custom data
            $("#Status").val("Approve");

            var opsiProduksi = $('input[name="dOpsiProduksi"]:checked').val();
            if (opsiProduksi == "") {
                swal("error", "Opsi Produksi harus dipilih", "error");
                return;
            }
            //assign value
            $("#OpsiProduksi").val(opsiProduksi);

            //cek Opsi            
            if (opsiProduksi == "Subkon") {
                //cek kode, nama, alamat
                var kode = $("#KodeSubkon").val();
                var nama = $("#NamaSubkon").val();
                var alamat = $("#Alamat").val();
                if (kode == "" || kode == null) {
                    swal("error", "Untuk Type Subkon, Kode Subkon harus dilengkapi.", "error");
                    return;
                }
                if (nama == "" || nama == null) {
                    swal("error", "Untuk Type Subkon, Nama Subkon harus dilengkapi.", "error");
                    return;
                }
                if (alamat == "" || alamat == null) {
                    swal("error", "Untuk Type Subkon, Alamat Subkon harus dilengkapi.", "error");
                    return;
                }
            }


            if ($("#myForm").valid()) {

                var myformdata = $("#myForm").serialize();

                $.ajax({

                    type: "POST",
                    url: "/FinishGoodsInResult/Save",
                    data: myformdata,
                    success: function (data) {

                        if (data.success) {
                            var url = "/Transaction/FinishGoodsInResult/Index";

                            swal({
                                title: "success",
                                text: data.message,
                                type: "success",
                                confirmButtonText: "OK"
                            },
                                function (isConfirm) {
                                    if (isConfirm) {
                                        window.location.href = url;
                                    }
                                });
                        }
                        else {
                            swal("error", data.message, "error");
                        }
                    }

                })

            }


        })

        $("#btncancel").click(function () {
            var url = "/Transaction/FinishGoodsInResult/Index";
            window.location.href = url;
        });
    })



</script>






